* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-fondo;
  font-family: $font-raleway;
}

h1 {
  color: $color-negro;
  font-size: 30px;
  margin: 20px;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  @include flex-center(row, center, center);
}
