$primary-font: "Raleway", sans-serif;
$secondary-font: "Montserrat", sans-serif;
$text-font: "Source Sans 3", sans-serif;
$main-bg: rgb(255, 255, 255);
$text-color: rgb(87, 82, 82);
$black: black;
$light-bg: rgb(235, 235, 235);
