$color-negro: #000000;
$color-gris: rgb(87, 82, 82);
$color-fondo: #fff;
$color-footer-bg: rgb(235, 235, 235);
$font-raleway: 'Raleway', sans-serif;
$font-source: 'Source Sans 3', sans-serif;
$max-width-container: 1000px;